.k-block-type-link-button .button-container {
  display: flex;
  flex: 1;
}

.k-block-type-link-button .button-link {
  border: 0;
  background-color: #12b27f;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.k-block-type-link-button .button-icon {
  box-sizing: content-box;
  display: flex;
  width: 1.5em;
  height: 100%;
  background-color: rgba(255,255,255,0.25);
  padding: 0.75em 1em;
}

.k-block-type-link-button .button-content {
  flex: 1;
  line-height: 1.5em;
  padding: 0.75em 2em;
}

.k-block-type-link-button .full-width {
  flex: 1;
}

.k-block-type-link-button .left-align {
  justify-content: start;
}

.k-block-type-link-button .center-align {
  justify-content: center;
}

.k-block-type-link-button .right-align {
  justify-content: end;
}

.k-block-type-link-button .reverse {
  flex-direction: row-reverse;
}